@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
/*Primary*/
--bright-orange: hsl(31, 77%, 52%);
--dark-cyan: hsl(184, 100%, 22%);
--very-dark-cyan: hsl(179, 100%, 13%);

/* Neutral*/
--transparent-white: hsla(0, 0%, 100%, 0.75); /*paragraphs*/
--very-light-gray: hsl(0, 0%, 95%); /*background, headings, buttons*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--very-light-gray);
    font-size: 15px;    
    padding: 24% 6% 24% 6%;
    display: flex;
    flex-direction: column;
}

img{
    max-width: 100%;
    height: auto;
    margin-top: 23%;
}

h1 {
    color: var(--very-light-gray);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.8em;
    text-transform: uppercase;
    margin-top: 13.5%;
}

p,
.learnmore {
    color: var(--transparent-white);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1em;    
    margin-top: 12%;
}

p {
    line-height: 1.7;    
}

.card {
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.box {
    padding-left: 15%;
    padding-right: 15%;
}

.sedans {
    background-color: var(--bright-orange);
}

.suvs {
    background-color: var(--dark-cyan);
}

.luxury {
    background-color: var(--very-dark-cyan);
}

.learnmore {
    color: var(--very-light-gray);
    border: none;
    border-radius: 30px;
    padding: 7% 15% 7% 15%;    
    margin-bottom: 22%;
}

.btnsedans{
    color: var(--bright-orange);
}

.btnsuvs {
    color: var(--dark-cyan)
}

.btnluxury{
    color: var(--very-dark-cyan);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}